<section class='basic-grid'>
    <p>
        <span class='noSelect'>
            > click <a class='hyperLink' (click)='createTrinketOrPatch(0, 99, true)'><u>here</u></a> to recieve a trinket: 
        </span>
        <b *ngIf='trinket && trinket.descrip'>{{trinket.num}} - {{trinket.descrip}}</b></p>
    <p>
        <span class='noSelect'>
            > click <a class='hyperLink' (click)='createTrinketOrPatch(0, 99, false)'><u>here</u></a> to recieve a patch: 
        </span>
        <b *ngIf='patch && patch.descrip'>{{patch.num}} - {{patch.descrip}}</b></p>
</section>