.cg-grid-master {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "name name"
        "stress stress"
        "stats saves"
        "skills skills"
        "equip equip"
        "trinket trinket"
        "notes notes";

    .name-section {
        grid-area: name;
    }
}

.notes-grid {
    grid-area: notes;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "textarea";
    .title {
        grid-area: title;
    }
    textarea {
        grid-area: textarea;
        resize: none;
        border: none;
    }
}

.stats-grid {
    grid-gap: 0rem;
    grid-template-columns: repeat(autofill, 1fr);
    grid-template-rows: .5fr 1fr 2fr;

    grid-template-areas:
        "title"
        "stress-resolve-health-track"
        "stats-column";
    align-items: stretch;

    .title {
        grid-area: title;
    }
    .no-display {
        display: none;
    }
    .stress-resolve-health-track {
        grid-area: stress-resolve-health-track;
        display: grid;
        grid-template-columns: 1fr .5fr 1fr .5fr 1fr .3fr .5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "stress-title stress-stat resolve-title resolve-stat health-title health-stat health-max"; 

        .stress-title {
            grid-area: stress-title;
        }
        .resolve-title {
            grid-area: resolve-title;
        }
        .health-title {
            grid-area: health-title;
        }
        .stress-stat {
            grid-area: stress-stat;
        }
        .resolve-stat {
            grid-area: resolve-stat;
        }
        .health-stat {
            grid-area: health-stat;
        }
        .health-max {
            grid-area: health-max;
        }
    }
    .stats-column {
        grid-area: stats-column;
        display: grid;
        grid-template-columns: .5fr .1fr .4fr 1fr;
        grid-template-areas:
            "str-title str-stat str-add str-result" 
            "spd-title spd-stat spd-add spd-result"
            "int-title int-stat int-add int-result"
            "com-title com-stat com-add com-result";
        
        .str-title {
            grid-area: str-title;
        }
        .spd-title {
            grid-area: spd-title;
        }
        .int-title {
            grid-area: int-title;
        }
        .com-title {
            grid-area: com-title;
        }

        .str-stat {
            grid-area: str-stat;
        }
        .spd-stat {
            grid-area: spd-stat;
        }
        .int-stat {
            grid-area: int-stat;
        }
        .com-stat {
            grid-area: com-stat;
        }

        .str-add {
            grid-area: str-add;
        }
        .spd-add {
            grid-area: spd-add;
        }
        .int-add {
            grid-area: int-add;
        }
        .com-add {
            grid-area: com-add;
        }

        .str-result {
            grid-area: str-result;
        }
        .spd-result {
            grid-area: spd-result;
        }
        .int-result {
            grid-area: int-result;
        }
        .com-result {
            grid-area: com-result;
        }
    }
}

.saves-grid {
    grid-gap: 0rem;
    grid-template-columns: 1fr .1fr .4fr 2fr;
    grid-template-areas:
    "title title title title"
    "sanity san-stat san-add san-save"
    "fear fea-stat fea-add fea-save"
    "body bod-stat bod-add bod-save"
    "armor arm-stat arm-add arm-save";

    .san-section {
        grid-area: sanity;
    }
    .fea-section {
        grid-area: fear;
    }
    .bod-section {
        grid-area: body;
    }
    .arm-section {
        grid-area: armor;
    }

    .san-stat {
        grid-area: san-stat;
    }
    .fea-stat {
        grid-area: fea-stat;
    }
    .bod-stat {
        grid-area: bod-stat;
    }
    .arm-stat {
        grid-area: arm-stat;
    }

    .san-add {
        grid-area: san-add;
    }
    .fea-add {
        grid-area: fea-add;
    }
    .bod-add {
        grid-area: bod-add;
    }
    .arm-add {
        grid-area: arm-add;
    }

    .san-save {
        grid-area: san-save;
    }
    .fea-save {
        grid-area: fea-save;
    }
    .bod-save {
        grid-area: bod-save;
    }
    .arm-save {
        grid-area: arm-save;
    }
}

.skills-grid {
    grid-area: skills;
    grid-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.equip-grid {
    grid-area: equip;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title";
}

.trinket-grid {
    grid-gap: 0rem;
    grid-area: trinket;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
    align-items: start;
}

.stress-grid {
    grid-gap: 0rem;
    grid-area: stress;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.title-section {
    grid-area: title;
    padding-left: 5px;
    height: 2rem;
}

.subsection-title {
    background-color: white;
    color: black;
    &.clickable:hover {
        background-color: black;
        color: white;
    }
}

.itemDetailsFont {
    font-size: .9rem;
    color: lightgray;
}

.charHover:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 768px) {
    .cg-grid-master {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "stats"
            "saves"
            "skills"
            "stress"
            "equip"
            "trinket"
            "notes";    
    }
    .saves-grid {
        justify-items: stretch;
        grid-template-columns: .5fr .2fr 1fr;
        grid-template-areas:
        "title title title"
        "sanity san-stat san-add"
        "san-save san-save san-save"
        "fear fea-stat fea-add"
        "fea-save fea-save fea-save"
        "body bod-stat bod-add"
        "bod-save bod-save bod-save"
        "armor arm-stat arm-add"
        "arm-save arm-save arm-save";
    }
    .stats-grid {
        .stress-resolve-health-track {
            grid-template-columns: .5fr .2fr 1fr;
            grid-template-areas:
                "stress-title stress-stat stress-stat"
                "resolve-title resolve-stat resolve-stat"
                "health-title health-stat health-max"; 
        }
        .stats-column {
            grid-template-columns: .5fr .2fr 1fr;
            grid-template-areas:
                "str-title str-stat str-add"
                "str-result str-result str-result" 
                "spd-title spd-stat spd-add"
                "spd-result spd-result spd-result"
                "int-title int-stat int-add"
                "int-result int-result int-result"
                "com-title com-stat com-add"
                "com-result com-result com-result";
        }
    }
}
