<div class='basic-grid cg-grid-master'>
    <section class='card name-section'>
        <div class='warden-banner title-section'>NAME</div>
        {{name}} THE {{class.toUpperCase()}}
    </section>
    <section class='card basic-grid stats-grid'>
        <div class='title-section warden-banner'>STATS</div>
        <div *ngFor='let key of objectKeys(statsArray)'
        [ngClass]="{
            'stress-section': key === 'stress',
            'resolve-section': key === 'resolve',
            'health-section': key === 'health',
            'str-section': key === 'strength',
            'spd-section': key === 'speed',
            'int-section': key === 'intellect',
            'com-section': key === 'combat'
        }">
            <b>{{key.toUpperCase()}}</b> : {{statsArray[key]}}
        </div>
    </section>

    <section class='card basic-grid saves-grid'>
        <div class='title-section warden-banner'>SAVES</div>
        <div *ngFor='let key of objectKeys(savesArray)'
        [ngClass]="{
            'san-section': key === 'sanity',
            'fea-section': key === 'fear',
            'bod-section': key === 'body',
            'arm-section': key === 'armor'
        }">
            <b>{{key.toUpperCase()}}</b> : {{savesArray[key]}}
        </div>
    </section>
    <section class='card basic-grid skills-grid'>
        <div class='warden-banner title-section'>
            SKILLS
        </div>
        <div *ngFor='let skill of skillsArray'>
            >> {{skill.descrip}} | {{skill.percent}}
        </div>
    </section>
    <section class='card basic-grid equipStressDetails-grid'>
        <div class='title-section warden-banner'>
            EQUIPMENT/STRESS_DETAILS/
        </div>
    </section>
</div>