.cg-grid-master {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "name name"
        "stress stress"
        "stats saves"
        "skills skills"
        "equip equip"
        "trinket trinket";

    .name-section {
        grid-area: name;
    }
}

.stats-grid {
    grid-gap: 0rem;
    grid-template-columns: repeat(autofill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
        "title title title title title title"
        "stress stress-stat resolve resolve-stat health health-stat"
        "str str-stat str-stat str-stat str-stat str-stat"
        "spd spd-stat spd-stat spd-stat spd-stat spd-stat"
        "int int-stat int-stat int-stat int-stat int-stat"
        "com com-stat com-stat com-stat com-stat com-stat";

    .stress-section {
        grid-area: stress;
    }
    .resolve-section {
        grid-area: resolve;
    }
    .health-section {
        grid-area: health;
    }
    .str-section {
        grid-area: str;
    }
    .spd-section {
        grid-area: spd;
    }
    .int-section {
        grid-area: int;
    }
    .com-section {
        grid-area: com;
    }

    .str-stat {
        grid-area: str-stat;
    }
    .spd-stat {
        grid-area: spd-stat; 
    }
    .int-stat {
        grid-area: int-stat;
    }
    .com-stat {
        grid-area: com-stat;
    }
    .stress-stat {
        grid-area: stress-stat;
    }
    .resolve-stat {
        grid-area: resolve-stat;
    }
    .health-stat {
        grid-area: health-stat;
    }
}

.saves-grid {
    grid-gap: 0rem;
    grid-template-columns: 1fr .5fr 2fr;
    grid-template-areas:
    "title title title"
    "sanity san-stat san-save"
    "fear fea-stat fea-save"
    "body bod-stat bod-save"
    "armor arm-stat arm-save";

    .san-section {
        grid-area: sanity;
    }
    .fea-section {
        grid-area: fear;
    }
    .bod-section {
        grid-area: body;
    }
    .arm-section {
        grid-area: armor;
    }

    .san-stat {
        grid-area: san-stat;
    }
    .fea-stat {
        grid-area: fea-stat;
    }
    .bod-stat {
        grid-area: bod-stat;
    }
    .arm-stat {
        grid-area: arm-stat;
    }

    .san-save {
        grid-area: san-save;
    }
    .fea-save {
        grid-area: fea-save;
    }
    .bod-save {
        grid-area: bod-save;
    }
    .arm-save {
        grid-area: arm-save;
    }
}

.skills-grid {
    grid-area: skills;
    grid-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.equip-grid {
    grid-area: equip;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title";
}

.trinket-grid {
    grid-gap: 0rem;
    grid-area: trinket;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
    align-items: start;
}

.stress-grid {
    grid-gap: 0rem;
    grid-area: stress;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.title-section {
    grid-area: title;
    padding-left: 5px;
    height: 2rem;
}

.subsection-title {
    background-color: white;
    color: black;
}

.itemDetailsFont {
    font-size: .9rem;
    color: lightgray;
}

.savesHover:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 768px) {
    .cg-grid-master {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "stats"
            "saves"
            "skills"
            "stress"
            "equip"
            "trinket";        
    }
    .saves-grid {
        grid-template-areas:
        "title title title"
        "sanity san-stat san-save"
        "fear fea-stat fea-save"
        "body bod-stat bod-save"
        "armor arm-stat arm-save";
    }
    .stats-grid {
        grid-gap: 0rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-areas:
            "title title"
            "stress stress-stat"
            "resolve resolve-stat"
            "health health-stat"
            "str str-stat"
            "spd spd-stat"
            "int int-stat"
            "com com-stat";
    }
}
