<div class='basic-grid cg-grid-master'>
    <section class='card name-section'>
        <div class='section-banner title-section'>NAME</div>
        {{name}} THE {{class.toUpperCase()}}
    </section>
    <section class='card basic-grid stats-grid'>
        <div class='title-section section-banner'>STATS</div>
        <div *ngFor='let key of objectKeys(statsArray)'
        [ngClass]="{
            'stress-section': key === 'stress',
            'resolve-section': key === 'resolve',
            'health-section': key === 'health',
            'str-section': key === 'strength',
            'spd-section': key === 'speed',
            'int-section': key === 'intellect',
            'com-section': key === 'combat'
        }">
            <b>{{key.toUpperCase()}}</b> {{statsArray[key]}}
        </div>
    </section>

    <section class='card basic-grid saves-grid'>
        <div class='title-section section-banner'>SAVES</div>
        <div *ngFor='let key of objectKeys(savesArray)'
        [ngClass]="{
            'san-section': key === 'sanity',
            'fea-section': key === 'fear',
            'bod-section': key === 'body',
            'arm-section': key === 'armor'
        }">
            <b>{{key.toUpperCase()}}</b> : {{savesArray[key]}}
            <div class='subText'>{{getSavesSubtext(key.toLowerCase())}}</div>
        </div>
    </section>
    <section class='card basic-grid skills-grid'>
        <div class='section-banner title-section'>
            SKILLS
        </div>
        <div *ngFor='let skill of skillsArray'>
            >> {{skill.title}} | {{skill.percent}}
            <div class='itemDetailsFont'>
                {{skill.descrip}}
            </div>
        </div>
    </section>

    <section class='card basic-grid equip-grid'>
        <div class='title-section section-banner'>
            EQUIPMENT
        </div>
        <div class='subsection-title'>
            {{loadoutName.toUpperCase()}} LOADOUT
        </div>
        <div *ngFor='let item of equipmentArray'>
            >> {{item.title.trim()}}
            <div class='itemDetailsFont'>
                
                <span *ngIf='item.dmg'>
                    DMG: <span [innerHTML]=item.dmg.trim()></span> |
                </span>
                <span *ngIf='item.crit && item.crit.trim() !== ""'>
                    CRIT EFFECT: {{item.crit.trim()}} |
                </span>
                <span *ngIf='item.range'>
                    RANGE: {{item.range.trim()}} |
                </span>
                <span *ngIf='item.ammo && item.ammo.trim() !== ""'>
                    AMMO: {{item.ammo.trim()}} |
                </span>
                <span *ngIf='item.shots && item.shots.trim() !== ""'>
                    MAG SIZE: {{item.shots.trim()}} |
                </span>
                <span *ngIf='item.special && item.special.trim() !== ""' [innerHTML]=item.special.trim()>
                </span>
                <div *ngIf='item.descrip && item.descrip.trim() !== ""'>
                    {{item.descrip}}
                </div>
            </div>
        </div>
    </section>

    <section class='card basic-grid trinket-grid'>
        <div class='title-section section-banner'>
            TRINKETS & PATCHES
        </div>
        <div class='subsection-title'>
            TRINKET
        </div>
        <div> >> {{trinketPatch[0].num}} - {{trinketPatch[0].descrip}}</div>
        <div class='subsection-title'>
            PATCH
        </div>
        <div> >> {{trinketPatch[1].num}} - {{trinketPatch[1].descrip}}</div>
    </section>

    <section class='card basic-grid stress-grid'>
        <div class='title-section section-banner'>
            STRESS, PANIC, ETC.
        </div>
        <div>
            >> {{getStress().fear}}
        </div>
        <div *ngIf='getStress().extra'>
            >> {{getStress().extra}}
        </div>
    </section>
</div>