<section class='basic-grid character-grid'>
    <div class='charSheetHeader'>
        <span>
            STRESS
        </span>
        <span class='circleBorder'>2</span>

        <span>
            RESOLVE
        </span>
        <span class='circleBorder'>0</span>

        <span>
            HEALTH
        </span>
        <span class='circleBorder'>0</span>
    </div>

    <div class='sectionOne section-one-grid'>
        <div class='sectionOneHeader'>roll 6d10 for each of your <a (click)='rollStats()'><u>STATS</u></a></div>
        <div class='scoreRow strTag'>
            <span class='pillBorder'>STRENGTH</span>
        </div>
        <span *ngIf='statGen' class='circleBorder strScore'>{{strengthScore}}</span>
        <div class='scoreRow spdTag'>
            <span class='pillBorder'>SPEED</span>
        </div>
        <span *ngIf='statGen' class='circleBorder spdScore'>{{speedScore}}</span>
        <div class='scoreRow intTag'>
            <span class='pillBorder intTag'>INTELLECT</span>
        </div>
        <span *ngIf='statGen' class='circleBorder intScore'>{{intellectScore}}</span>
        <div class='scoreRow comTag'>
            <span class='pillBorder comTag'>COMBAT</span>
        </div>
        <span *ngIf='statGen' class='circleBorder comScore'>{{combatScore}}</span>
    </div>

    <div class='sectionTwo'>
        <div>pick a CLASS and note their starting SAVES</div>
        <div>SANITY</div>
        <div>FEAR</div>
        <div>BODY</div>
        <div>ARMOR</div>
    </div>

    ---
</section>