.cg-grid-master {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "name name"
        "stress stress"
        "stats saves"
        "skills skills"
        "equip equip"
        "trinket trinket";

    
    .name-section {
        grid-area: name;
    }
}

.stats-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
        "title title title"
        "stress resolve health"
        "str str str"
        "spd spd spd"
        "int int int"
        "com com com";

    .str-section {
        grid-area: str;
    }
    .spd-section {
        grid-area: spd;
    }
    .int-section {
        grid-area: int;
    }
    .com-section {
        grid-area: com;
    }
}

.saves-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "sanity"
    "fear"
    "body"
    "armor";

    .san-section {
        grid-area: sanity;
    }
    .fea-section {
        grid-area: fear;
    }
    .bod-section {
        grid-area: body;
    }
    .arm-section {
        grid-area: armor;
    }
}

.skills-grid {
    grid-area: skills;
    grid-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.equip-grid {
    grid-area: equip;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title";
}

.trinket-grid {
    grid-area: trinket;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
    align-items: start;
}

.stress-grid {
    grid-area: stress;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title";
}

.title-section {
    grid-area: title;
    padding: 5px;
    height: 2rem;
}

.subsection-title {
    background-color: white;
    color: black;
}

.itemDetailsFont {
    font-size: .9rem;
}

@media only screen and (max-width: 768px) {
    .cg-grid-master {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "stats"
            "saves"
            "skills"
            "stress"
            "equip"
            "trinket";
    }    
}
