.derelict-grid-master {
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "content";
    .derelict-title {
        grid-area: title;
    }
    .derelict-content {
        grid-area: content;
    }
}

.derelict-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: 
        "banner"
        "descrip";

    .derelict-banner {
        grid-area: banner;
    }
    .derelict-descrip {
        grid-area: descrip
    }
}

.derelict-layout-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "upper-start upper1 upper2 upper-end"
        "middle-start middle1 middle2 middle-end"
        "lower-start lower1 lower2 lower-end"
        "bottom-start bottom1 bottom2 bottom-end";

    .shipClass {
        grid-column: upper-start / upper-end;
    }
    .habStatus {
        grid-column: middle-start / middle1;
    }
    .engStatus {
        grid-column: middle2 / middle-end;
        grid-row: middle-start;
    }
    .sal {
        grid-column: lower1 / lower2;
    }
    .weird {
        grid-column: bottom-start / bottom-end;
    }

    .hide {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .derelict-layout-grid {
        grid-template-columns: 2fr;
        grid-template-areas:
            "first-1 first-2"
            "second-1 second-2"
            "third-1 third-2"
            "fourth-1 fourth-2"
            "fifth-1 fifth-2"
            "sixth-1 sixth-2"
            "seventh-1 seventh-2";

        .shipClass {
            grid-column: first-1 / first-2;
        }
        .habStatus {
            grid-column: second-1 / second-2;
        }
        .engStatus {
            grid-column: third-1 / third-2;
            grid-row: third-1;
        }
        .surStatus {
            grid-column: fourth-1 / fourth-2;
        }
        .sal {
            grid-column: fifth-1 / fifth-2;
        }
        .ruin {
            grid-column: sixth-1 / sixth-2;
        }
        .weird {
            grid-column: seventh-1 / seventh-2;
        }
    }
}
