<section class='basic-grid derelict-grid-master card randGen-card'>
    <section class='derelict-title section-banner'>
        SCAN RESULTS - THE {{derelictName}}
    </section>
    <section class='derelict-content derelict-layout-grid'>
        <span class='card scan-card'
            *ngFor='let key of objectKeys(derelictObject)'
            [ngClass]="{
                'shipClass': derelictObject[key].title === 'ship class',
                'habStatus': derelictObject[key].title === 'habitation status',
                'engStatus': derelictObject[key].title === 'engine status',
                'surStatus': derelictObject[key].title === 'survivors',
                'hide': derelictObject[key].title === 'salvage_1',
                'sal': derelictObject[key].title === 'salvage',
                'ruin': derelictObject[key].title === 'cause of ruination',
                'weird': derelictObject[key].title === 'weird'
            }"
        >
        <section class='derelict-card-grid'>
            <span class='section-banner derelict-banner'>
                {{derelictObject[key].title.toUpperCase()}}
            </span>
            <div class='derelict-descrip'>
                {{derelictObject[key].table | titlecase}}
            </div>
        </section>

    </span>
    </section>
</section>