<section class='basic-grid warden-grid'>
    <h1 class='warden-banner'>WARDEN OS</h1>
</section>
<section class='button-grid'>
    <button class='control-button crew-button crew-random-button' (click)='generateRandomCrewMember(false); getRandomSaying()'>
        <div>A TRULY RANDOM {{buttonText}}</div>
    </button>
    <div class='crew-bias-button'>
        <button class='control-button crew-button' (click)='generateRandomCrewMember(true); getRandomSaying()'>
            <div>A BIASED {{buttonText}}</div>
        </button>
    </div>
    <div class='trinket-button'>
        <button class='control-button randGen-button' (click)='generateRandomTrinketPatch(); getRandomSaying()'>
            SEARCH THE {{buttonText}}
        </button>
    </div>
    <!-- <div class='patch-button'>
        <button class='control-button randGen-button' (click)='generateDerelict()'>
            SCAN THE DERELICT SHIP
        </button>
    </div> -->
</section>
<app-character-generator *ngIf='displayCrewMember' (charName)='passCharName($event)' [statsArray]='defaultStatArray' [bias]='bias'></app-character-generator>
<app-trinket-patch-display *ngIf='displayTrinketPatch' [trinketPatch]='trinketPatch'></app-trinket-patch-display>
<app-derelict-generator *ngIf='displayDerelict'></app-derelict-generator>
<section *ngIf='displayPrintButton' class='button-grid print-button-grid'>
    <button class='control-button print-button' (click)='print()'>HIRE {{charName}}</button>
</section>
