<section class='warden-grid'>
    <h1 class='warden-banner'>
        WARDEN OS
    </h1>
    <span (click)='getRandomWardenSubtext()' class='warden-subtext'><i>"{{wardenSubtext}}"</i></span>
</section>
<section class='button-grid'>
    <button class='control-button crew-button crew-random-button' (click)='generateRandomCrewMember(false); getRandomPersonSaying()'>
        <div>A TRULY RANDOM {{personButtonText}}</div>
    </button>
    <div class='crew-bias-button'>
        <button class='control-button crew-button' (click)='generateRandomCrewMember(true); getRandomPersonSaying()'>
            <div>A BIASED {{personButtonText}}</div>
        </button>
    </div>
    <div class='trinket-button'>
        <button class='control-button randGen-button' (click)='generateRandomTrinketPatch(); getRandomPersonSaying()'>
            SEARCH THE {{personButtonText}}
        </button>
    </div>
    <div class='patch-button'>
        <button class='control-button randGen-button' (click)='generateDerelict(); getRandomDerelictSaying()'>
            SCAN THE {{derelictButtonText}}
        </button>
    </div>
</section>
<app-character-generator *ngIf='displayCrewMember' (charName)='passCharName($event)' [statsArray]='defaultStatArray' [bias]='bias'></app-character-generator>
<app-trinket-patch-display *ngIf='displayTrinketPatch' [trinketPatch]='trinketPatch'></app-trinket-patch-display>
<app-derelict-generator *ngIf='displayDerelict' [genDerelict]='genDerelict'></app-derelict-generator>
<section *ngIf='displayPrintButton' class='button-grid print-button-grid'>
    <button class='control-button print-button' (click)='print()'>HIRE {{charName}}</button>
</section>
