body {
    background-color: black;
    height: 100vh;  
    color: white;
    font: 1.3rem Inconsolata, monospace;
}

.basic-grid {
  display: grid;
  grid-gap: 1rem;
}

.warden-grid {
  grid-template-columns: 1fr;
}

.button-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
    "s1 s2 s3"
    ". s2r2 .";
  
  padding-bottom: 1rem;
  justify-items: center;
}

.crew-button {
  background-color: #FB007E;
  color: white;
  font-family: 'PT Serif', Times, serif;
  font-size: 1.3rem;
  border: none;
}

.button-s2-r1 {
  grid-area: s2;
}

.button-s2-r2 {
  grid-area: s2r2;
}

.card {
  background-color: #FB007E;
  padding: 5px;
}

.warden-banner {
  font-family: 'Monoton';
  text-shadow: none;
}

.section-banner {
  font-family: 'PT Serif', Times, serif;
}

.subText {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .button-s2-r1 {
    grid-area: s1;
  }

  .button-s2-r2 {
    grid-area: s2;
  }
  
  .button-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas:
      "s1"
      "s2"
      "s3";
  }
  .warden-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
