$web-safe-magenta: #ff0066;
$web-safe-cyan: #009999;
$web-safe-grey: #cccccc;

@page { size: auto;  margin: 0mm; }

body {
    background-color: black;
    height: 100vh;  
    color: white;
    font: 1.3rem Inconsolata, monospace;
}

.basic-grid {
  display: grid;
  grid-gap: 1rem;
}

.warden-grid {
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "subtext";
  margin-bottom: 2rem;
  
  .warden-subtext {
    grid-area: subtext;
    cursor: pointer;
    font-family: 'PT Serif', Times, serif;
    font-size: 0.9rem;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
    "trinket cRand ."
    "patch cBias .";
  
  padding-bottom: 1rem;
  justify-items: center;
}

.control-button {
  color: white;
  font-family: 'PT Serif', Times, serif;
  font-size: 1.3rem;
  border: none;

  &.crew-button {
    background-color: $web-safe-magenta;
  }

  &.randGen-button {
    background-color: $web-safe-cyan;
  }
}

.print-button {
  grid-area: cRand;
  background-color: #ffcc00;
  color: black;
}

.crew-random-button {
  grid-area: cRand;
}

.crew-bias-button {
  grid-area: cBias;
}

.trinket-button {
  grid-area: trinket;
}

.patch-button {
  grid-area: patch;
}

.card {
  padding: 5px;

  &.crew-card {
    background-color: $web-safe-magenta;
  }

  &.randGen-card {
    background-color: $web-safe-cyan;
  }
  &.scan-card {
    background-color: black;
  }
}

.warden-banner {
  font-family: 'Monoton';
  text-shadow: none;
  margin: 0;
}

.section-banner {
  font-family: 'PT Serif', Times, serif;
  background-color: white;
  color: black;
}

.invert-section-banner {
  font-family: 'PT Serif', Times, serif;
  background-color: black;
  color: white;
}

.subText {
  font-size: 0.8rem;
  color: black;
}

.print-button-grid {
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {  
  .button-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas:
      "patch"
      "trinket"
      "cRand"
      "cBias";
  }
  .warden-grid {
    grid-template-columns: 1fr;
    justify-items: center;

    .warden-subtext {
      justify-self: center;
    }
  }
}

@media print {
  body {
    background-color: white;
    height: 100vh;  
    color: black;
    font: .9rem Inconsolata, monospace;
  }

  .card {  
    &.crew-card {
      background-color: white;
      border: 3px solid black;
    }
  }

  .printItemBold {
    font-weight: bold;
  }

  .section-banner {
    font-family: 'PT Serif', Times, serif;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .basic-grid {
    grid-gap: 0rem;
  }

  .warden-banner {
    display: none;
  }

  .warden-grid {
    margin-bottom: 0rem;
  }

  .button-grid {
    display: none;
  }

  .title-section {
    padding-left: 5px;
    height: 2rem;
  }

  .subsection-title {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
